.body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 9999;
}

.navbar ul {
    gap: 20vh;
}

.hero {
    position: relative; /* Changement de absolute à relative */
}

.hero img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.background-image {
    /* background: url('/assets/images/background.png') no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: flex-start;
    align-items: center; */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gender {
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    text-transform: uppercase;
    color: white;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.circle {
    font-size: 2em;
}

.actors {
    color: white;
    display: flex;
    justify-content: space-between;
}
