body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

header {
}

.navbar {
    /* position: static; */
    background-color: #0594D0;
    opacity: 0.7;
}

.navbar ul {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    gap: 20vh;
}

/* ---- Biography ----- */
  
.background-image {
    background: url('/assets/images/background.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.biography {
    /* background: url('/assets/images/biography.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;  */
    color: white;
    background-color: #007198;
    height: 100vh;
}

.biography .title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
}

.desc-image img {
    width: 50vw;
}

.date-container {
    position: relative;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
}

.date-container::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 5px; 
    height: 600px; 
    background-color: white; 
}

.gender {
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.2em;
    margin-top: 16%;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
}

.image {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.circle {
    font-size: 2em;
}

.actors {
    color: white;
    display: flex;
    justify-content: center;
    gap: 12vw;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
}

.group_name{
    margin-bottom: 7vh;
}

.group_name h1{
    position: relative; 
    font-size: 120px;
    text-align: center;
    color: #b8ddfe;
}

.group_name h1::before,
.group_name h1::after {
    content: ''; 
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
    height: 10px;
    background-color: #b8ddfe; 
}

.group_name h1::before {
    top: 0;
    margin-top: 3vh;
}

.group_name h1::after {
    bottom: 0
}

/* .date{
    color: white;
    display: flex;
    margin-top: -39em;
    margin-left: 2em;
} */

/* ------- Carousel -------- */

.background-image2 {
    background: url('/assets/images/video.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 190vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: -46px; */
}

.lyrics{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    letter-spacing: 0.5em;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
}

.carousel-item {
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
.carousel-itemimage {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
.carousel-itemh1 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.carousel p {
    color: white;
}

.video {
    margin-top: -4vh;
  }

.video h2 {
    color: white;
    font-family: "Bebas Neue", sans-serif;
  }

.description{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

/** ----- DISCOGRAPHIE ----- */

.discography {
    background: url('/assets/images/discography.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 240%; 
    position: relative;
    margin-top: -2vh;
}

.discography h2 {
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.discography .introduction {
    text-orientation: upright;
    letter-spacing: 0.35rem;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.discography .conclusion {
    letter-spacing: 1.5rem;
    margin-top: 10vh;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.album {
    position: absolute; 
    top: 25vh;
    left: 0;
    width: 100%;
}

/** ----------- FOOTER ---------- */

footer {
    background-color: #007198;
}

footer a {
    text-decoration: none;
    color: white;
}

footer h6 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
}

/** ----------- RESPONSIVE ---------- */

/* Pour les écrans de taille moyenne */
@media only screen and (max-width: 992px) {
    .navbar ul {
        gap: 10px; 
    }

    .gender {
        margin-top: 10%;
    }

    .group_name h1 {
        font-size: 80px; 
    }

    .group_name h1::before,
    .group_name h1::after {
        width: 25%; 
    }

    .background-image {
        background-size: contain;
    }

    .background-image3 {
        display: block;
    }
}

/* Pour les écrans de petite taille (mobile) */
@media only screen and (max-width: 768px) {
    .gender {
        margin-top: 20%;
    }

    .group_name h1 {
        font-size: 60px; 
    }

    .group_name h1::before,
    .group_name h1::after {
        width: 20%; 
    }

    .navbar-brand {
        font-size: 1.5rem; 
    }

    .background-image {
        background-size: cover;
        height: 50vh;
    }

    .background-image2 {
        height: 120vh;
    }

    .background-image3 {
        display: block;
        text-align: center;
    }

    .biography {
        height: 143vh;
    }

    .description {
        display: block;
    }

    .description p {
        text-align: center;
    }

    .date-container::after {
        /* position: absolute; */
        /* top: 100%; */
        /* left: 50%; */
        /* transform: translateX(-50%); */
        display: none;
    }

    .desc-image img {
        width: 100vw;
        height: 30vh;
    }

    .gender {
        display: none;
    }

    .discography {
        height: 450vh;
        background: none;
    }

    .discography h2, .discography .introduction, .discography .conclusion {
        color: black;
    }

    .video {
        margin-top: 30vh;
    }

    .video h2 {
        color: black;
    }

    .background-image2 {
        background: none;
        height: 160vh;
    }

    .carousel p {
        color: black;
    }

    .lyrics {
        color: black;
        display: block;
    }

    .lyrics p {
        text-align: center;
    }

}

